doctype html
html
  head
    title My planet needs me
    style
        | body {
        |     text-align: center;
        |     margin: 0;
        |     padding: 0;
        |     background: #000;
        | }
        | #game {
        |    width: 800px;
        |    margin: 0 auto;
        | }
  body
    #game
    script(src="js/libs.js")
    script(src="js/main.js")
